<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DASHGUM - FREE Bootstrap Admin Template</title>

	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<!--external css-->
	<link href="../css/font-awesome.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/dcalendar.picker.css"/>
	<style type="text/css">
		@media (min-width: @screen-md-min) {
		}
	</style>
</head>
<body>
	<section id="container">
		<header class="header black-bg">
			<div class="sidebar-toggle-box">
				
			</div>
			<a href="./DASHGUM - FREE Bootstrap Admin Template_files/DASHGUM - FREE Bootstrap Admin Template.html" class="logo"><b>管理页面</b></a>
			<div class="nav notify-row" id="top_menu">
				<!--  notification start -->
				<ul class="nav top-menu">
					<!-- settings start -->
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="">			
							<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
							<span class="badge bg-theme">4</span>
						</a>
						<ul class="dropdown-menu extended tasks-bar">
							<div class="notify-arrow notify-arrow-green"></div>
							<li>
								<p class="green">You have 4 pending tasks</p>
							</li>
							<li>
								<a href="">
									<div class="task-info">
										<div class="desc">DashGum Admin Panel</div>
										<div class="percent">40%</div>
									</div>
									<div class="progress progress-striped">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
											<span class="sr-only">40% Complete (success)</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="task-info">
										<div class="desc">Database Update</div>
										<div class="percent">60%</div>
									</div>
									<div class="progress progress-striped">
										<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
											<span class="sr-only">60% Complete (warning)</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="task-info">
										<div class="desc">Product Development</div>
										<div class="percent">80%</div>
									</div>
									<div class="progress progress-striped">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
											<span class="sr-only">80% Complete</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="task-info">
										<div class="desc">Payments Sent</div>
										<div class="percent">70%</div>
									</div>
									<div class="progress progress-striped">
										<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
											<span class="sr-only">70% Complete (Important)</span>
										</div>
									</div>
								</a>
							</li>
							<li class="external">
								<a href="">See All Tasks</a>
							</li>
						</ul>
					</li>
					<!-- settings end -->
					<!-- inbox dropdown start-->
					<li id="header_inbox_bar" class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="">
							<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
							<span class="badge bg-theme">5</span>
						</a>
						<ul class="dropdown-menu extended inbox">
							<div class="notify-arrow notify-arrow-green"></div>
							<li>
								<p class="green">You have 5 new messages</p>
							</li>
							<li>
								<a href="">
									<span class="photo"><img alt="avatar" src=""></span>
									<span class="subject">
										<span class="from">Zac Snider</span>
										<span class="time">Just now</span>
									</span>
									<span class="message">
										Hi mate, how is everything?
									</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="photo"><img alt="avatar" src=""></span>
									<span class="subject">
										<span class="from">Divya Manian</span>
										<span class="time">40 mins.</span>
									</span>
									<span class="message">
										Hi, I need your help with this.
									</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="photo"><img alt="avatar" src=""></span>
									<span class="subject">
										<span class="from">Dan Rogers</span>
										<span class="time">2 hrs.</span>
									</span>
									<span class="message">
										Love your new Dashboard.
									</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="photo"><img alt="avatar" src=""></span>
									<span class="subject">
										<span class="from">Dj Sherman</span>
										<span class="time">4 hrs.</span>
									</span>
									<span class="message">
										Please, answer asap.
									</span>
								</a>
							</li>
							<li>
								<a href="">See all messages</a>
							</li>
						</ul>
					</li>
					<!-- inbox dropdown end -->
				</ul>
				<!--  notification end -->
			</div>
			<div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="../index.html">退出</a></li>
            	</ul>
            </div>
		</header>
		
        <div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
             <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href=""><img src="../img/logo.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">武汉旅游管理系统</h5>
              	  	
                  <li class="mt active">
                      <a href="outLine.html" target="iframe_a" onclick="addActive(this);" class="active">
                          
                          <span>概况</span>
                      </a>
                  </li>

                  <li class="sub-menu dcjq-parent-li active">
                      <a href="historySys.html" target="iframe_a" onclick="addActive(this);">
                          
                          <span>历史</span>
                      <span class="
                      dcjq-icon"></span></a>
                      
                  </li>

                  <li class="sub-menu dcjq-parent-li">
                      <a href="beautifulSys.html" target="iframe_a" onclick="addActive(this);">
                         
                          <span>旅游</span>
                      <span class="dcjq-icon"></span></a>
                     
                  </li>
                  <li class="sub-menu dcjq-parent-li">
                      <a href="delicacySys.html" target="iframe_a" onclick="addActive(this);">
                         
                          <span>美食</span>
                      <span class="dcjq-icon"></span></a>
                      
                  </li>
                  <li class="sub-menu dcjq-parent-li">
                      <a href="leaveSys.html" target="iframe_a" onclick="addActive(this);">
                         
                          <span>留言</span>
                      <span class="dcjq-icon"></span></a>
                      
                  </li>
                  <li class="sub-menu dcjq-parent-li">
                      <a href="newsSys.html" target="iframe_a" onclick="addActive(this);">
                          
                          <span>动态</span>
                      <span class="dcjq-icon"></span></a>
                      
                  </li>
               
             </ul>
        </div>
      
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-9  main-chart">
						<iframe width="100%" height="819px" src="./outLine.html" name="iframe_a" frameborder="no" border="0" id="external-frame"></iframe>
					</div>
					<div class="col-lg-3 ds visible-lg">
						<h3>日历-calendar</h3>
						<table id='mycalendar' class='calendar'></table>
						<h3>TEAM MEMBERS</h3>
						<!-- First Member -->
						<div class="desc">
							<div class="thumb">
								<img class="img-circle" src="./DASHGUM - FREE Bootstrap Admin Template_files/ui-divya.jpg" width="35px" height="35px" align="">
							</div>
							<div class="details">
								<p><a href="http://www.blacktie.co/demo/dashgum/index.html#">DIVYA MANIAN</a><br>
									<muted>Available</muted>
								</p>
							</div>
						</div>
						<!-- Second Member -->
						<div class="desc">
							<div class="thumb">
								<img class="img-circle" src="./DASHGUM - FREE Bootstrap Admin Template_files/ui-sherman.jpg" width="35px" height="35px" align="">
							</div>
							<div class="details">
								<p><a href="http://www.blacktie.co/demo/dashgum/index.html#">DJ SHERMAN</a><br>
									<muted>I am Busy</muted>
								</p>
							</div>
						</div>
						<!-- Third Member -->
						<div class="desc">
							<div class="thumb">
								<img class="img-circle" src="./DASHGUM - FREE Bootstrap Admin Template_files/ui-danro.jpg" width="35px" height="35px" align="">
							</div>
							<div class="details">
								<p><a href="http://www.blacktie.co/demo/dashgum/index.html#">DAN ROGERS</a><br>
									<muted>Available</muted>
								</p>
							</div>
						</div>
						<div class="desc">
							<div class="thumb">
								<img class="img-circle" src="./DASHGUM - FREE Bootstrap Admin Template_files/ui-danro.jpg" width="35px" height="35px" align="">
							</div>
							<div class="details">
								<p><a href="http://www.blacktie.co/demo/dashgum/index.html#">DAN ROGERS</a><br>
									<muted>Available</muted>
								</p>
							</div>
						</div>
						<div class="desc">
							<div class="thumb">
								<img class="img-circle" src="./DASHGUM - FREE Bootstrap Admin Template_files/ui-danro.jpg" width="35px" height="35px" align="">
							</div>
							<div class="details">
								<p><a href="http://www.blacktie.co/demo/dashgum/index.html#">DAN ROGERS</a><br>
									<muted>Available</muted>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
        </section>
	</section>
</body>

<script src="../js/jquery-1.8.3.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/dcalendar.picker.js"></script>
<script type="text/javascript" src="../js/navbar.js"></script>
<script type="text/javascript">
	$('#mycalendar').dcalendar();

	 $(function(){
        var obj = getCookie("data");
        var JsonObj = eval("("+obj+")");
        var userName = JsonObj.result.staff.name;
        var userId = JsonObj.result.staff.id;
        var identityId = JsonObj.result.staff.identityId;
        selectCourse(userId);
        $("#userName").text(userName);
      });

      function selectCourse(userId){
        document.cookie = "userId="+userId;
      }

      function getCookie(cname)
      {
        var ss = document.cookie;
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++)
        {
          var c = ca[i].trim();
          if (c.indexOf(name)==0)
            return c.substring(name.length,c.length);
        }
        return "";
      }
      function DelCookie(name) {
        var exp = new Date();
        exp.setTime(exp.getTime() + (-1 * 24 * 60 * 60 * 1000));
        var cval = GetCookieValue(name);
        document.cookie = name + "=" + cval + "; expires=" + exp.toGMTString();
      }
</script>
</html>