<!DOCTYPE HTML>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>东方芝加哥—武汉</title>

  <meta content="东方芝加哥-武汉" name="keywords" />

  <meta content="东方芝加哥-武汉" name="description" />

  <link href="../css/base.css" rel="stylesheet" type="text/css">

  <link href="../css/pagename.css" rel="stylesheet" type="text/css">

  <link href="../css/basic.css" rel="stylesheet"> 



</head>



<body>



<!--header-->

  <div class="header"> 

   <div class="w1000">

    <p>你好，欢迎光临东方芝加哥-武汉！</p>

    <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

  </div>

</div>





<div class="w1000">

	<div class="header_bottom">

   <a href="../index.html"><img src="../images/wuhan/logowuhanc.jpg" width="300" height="50" alt="" title="东方芝加哥-武汉"></a>

   <ul>

     <li><a href="../index.html">网站首页</a></li>       

     <li><a href="historic.html">历史</a></li>     

     <li><a href="beautiful.html">风景</a></li>           

     <li><a href="delicacy.html">美食</a></li>      

     <li><a href="new.html">动态</a></li>      

     <li><a href="leave.html">留言</a></li>      

     <li><a href="about.html">团队介绍</a></li>   

     <li><a href="connection.html">联系我们</a></li>

   </ul>  

 </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/wuhan/historic.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说武汉</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">武汉简介</a></h3>

</li>

        

        <li><h3><a href="Culture.html">武汉文化</a></h3>

</li>

        

        <li><h3><a href="historic.html">武汉历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：武汉市青山区和平大道927号</p>

                      <p>联系人：韩艺坤</p>

                      <p>电话：139XXXXXXXX</p>


                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 武汉历史</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<!-- <span>南宁历史</span>

                        发布人:管理员　　发布时间：2016-07-2 23:25:28 -->

                  </p>

                	<div class="con">

               		   <p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

   <p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a>  | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">留言</a> | <a href="connection.html">联系我们</a></p>
	
  <p>Copyright &copy; 2016－2017 All Rights Reserved 版权所有  SSSR</p>
  <p>地址：武汉科技大学信息学院   来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a> </p>
</div>



<!--footer 结束--> 


</body>
<script src="../js/jquery.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $.post("history.do",{id : 1},function(result){
        // alert(result);
        var x = eval("("+result+")");
        for(var i in x.result){
          $('.p_tit2').append(' <span>'+x.result[i].title+'</span>发布人:'+x.result[i].user+'发布时间：'+x.result[i].date+'')
          $('.con').append(x.result[i].text)
        }
      })
    });
  </script>
</html>

